<h1>候選人列表</h1>
<table class="table">
  <thead>
    <tr>
      <td>得票數</td>
      <td>投票</td>
      <td>姓名</td>
      <td>黨派</td>
      <td>年紀</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do | candidate | %>
    <tr>
      <td><%= candidate.show_votes %></td>
      <td><%= link_to "投票給這位!", vote_candidate_path(candidate), method: "post", class: "btn btn-xs btn-danger" %></td>
      <td><%= show_age(candidate) %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.age %></td>
      <td>
        <%= link_to "修改", edit_candidate_path(candidate) %>
        <%= link_to "刪除", candidate, data: { confirm: "確定嗎?!",  method: "delete" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新增候選人", new_candidate_path %>
