<h1>新增候選人</h1>

<%= form_for(Candidate.new) do |f| %>
   姓名：<%= f.text_field :name %> <br />
   年紀：<%= f.text_field :age %> <br />
   黨派：<%= f.text_field :party %> <br />
   <%= f.submit %>
<% end %>
